#search-box {
    bottom: 0;
    color: rgb(117, 117, 117);
    font-size: 16px;
    height: 44px;
    left: 0;
    line-height: 44px;
    margin: auto 0;
    overflow: hidden;
    padding-inline-start: 48px;
    position: absolute;
    right: 44px;
    text-align: initial;
    text-overflow: ellipsis;
    top: 0;
    vertical-align: middle;
    visibility: inherit;
    white-space: nowrap;
}

#logo{
bottom:50px;
color:rgb(0, 0, 0);
cursor:default;
display:block;
font-family:"Segoe UI", Roboto, arial, sans-serif;
font-size:13px;
height:92px;
left:243px;
position:absolute;
width:272px;
}