#top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

li {
    display: inline;
    float: right;
    padding: 5px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    max-height: 30%;
}
