
/* Lists */
ul {
    list-style: none;
    right: 0;
    padding-right: 0;
}

li {
    display: inline;
   

}

/* Central part */
#google {
    text-align: center;
    margin: 0;
    display: block;
    clear: both;
    padding-top: 112px;
    padding-bottom: 20px;
}